#忽略上传的文件夹
**/lib/**
**/dll/**
**/src/**
**/build/**
**/scripts/**
**/properties/**
**/node_modules/**
**/.idea
**/target

#忽略上传的文件
**/.babelrc
**/.DS_Store
**/oss.json
**/ali-oss.json
**/custom.json
**/ncp-debug.log
**/npm-debug.log
**/yarn-error.log
**/.npmignore
**/.gitignore
**/webpack.config.js
**/webpack.dev.jsab
**/webpack.dll.js
**/yarn.lock
**/package-lock.json

#IDE
**/*.iml